main section article img {
    width: 100%;
}
main img.banner{
    width: 100%;
    

}
main section h3.titulares{
    font-size: 24px;
}

main section article p.precios{
    font-size: 18px;
}

main section article h4, main section article p.descuentos{
    font-size: 16px;
} 